
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# large file error
*.ipch
# Visual studio large file error handling
*.ispch
# Visual studio large file error handling
*.ispch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/.metadata/
*/RemoteSystemTempFiles
*/dvt
*/.jxbrowser.userdata